<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='icon' href="{{url_for('static',filename='images/favicon.png')}}" type='image/x-icon'><!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Add Product</title>
  </head>
  <body>
  <div  style="padding-top:30px" class='container'>
  <a href="/" class="btn btn-primary">Home</a>
  </div>
    <h1 style="text-align: center; padding-top: 20px; padding-bottom: 20px;">ADD PRODUCT</h1>
	<br>
	<br>
	<form method="post" enctype = "multipart/form-data">
    <div class='container'>
		<div class="form-group">
			<label for="exampleInputPassword1">Product Name</label>
			<input name="name" class="form-control" id="exampleInputPassword1" placeholder="Title">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword2">Price</label>
			<input name="price" type="number" step="0.01" class="form-control" id="exampleInputPassword2" placeholder="Price">
		</div>
		<div class="form-group">
			<label for="exampleFormControlFile1">Upload Image</label>
			<input name="location" type="file" class="form-control-file" id="exampleFormControlFile1">
		</div>
    </div>
	<div style="text-align:center" class="container">
	<button type="submit" class="btn btn-success">Add Product</button>
	</div>
	</form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>